<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div class="split left">
<div id="notice_container">
    <table id="notice_table">
        <tr>
            <th>Lot</th>
            <th>Has</th>
            <th>Parsed Lot</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for ind, row in data.iterrows() %}
            <tr>
                <td class="td_lot">{{ row["lot_pos"] }}</td>
                <td class="td_has">{{ row["has_lots"] }}</td>
                <td class="td_lot_parsed">{{ row["lot_nr"] }}</td>
                <td class="td_tit">{{ row["title"] }}</td>
                <td class="td_des">{{ row["desc"] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>

<div class="split right">
    <!-- <a id="TED" href="{{ url }}" target="_blank">View</a> -->
    <embed id="TED" src="/source">
</div>

</body>
</html>