/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

#notice_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

#notice_table .td_lot {
    width: 10%;
}

#notice_table .td_tit {
    width: 30%
}

#notice_table .td_des {
    width: 60%
}

#TED {
    width: 100%;
    height: 100%;
}